# ===== IDE Config =====
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db
/shelf/
workspace.xml

# ===== BACKEND (Spring Boot - Maven) =====
/backend-spring/target/
*.log
/backend-spring/.classpath
/backend-spring/.project
/backend-spring/.settings/
/backend-spring/.env

# ===== FRONTEND (Angular) =====
/frontend-angular/node_modules/
/frontend-angular/dist/
/frontend-angular/out-tsc/
/frontend-angular/.angular/
/frontend-angular/.env

# Angular environments
/frontend-angular/src/environments/environment*.ts

# NPM/Yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
